.container {
  min-height: 82px;
  padding-left: 40px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .name {
    color: #303230;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  .case {
    color: #303230;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
  }
}

:global(body.dark-mode) {
  .container {
    .name {
      color: #e0e0e0;
    }
    .case {
      color: #c0c0c0;
    }
  }

  :global(.MuiDivider-root) {
    background-color: rgba(255, 255, 255, 0.12);
  }
}
