$mobile-point: 576px;

.layout {
  height: 100%;
  overflow: hidden auto;
  min-width: 320px;
  transition: background-color 0.3s, color 0.3s;

  &.m {
    @media screen and (min-width: $mobile-point) {
      max-width: $mobile-point;
      margin: 0 auto;
    }
  }
}
