.container {
  box-sizing: border-box;
  border-radius: 14px;
  background: #edf6f3;
  padding: 1em !important;
  margin: 0 !important;
  margin-bottom: 2em !important;

  .label {
    color: #333535;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .formHelperText {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  :global(.MuiInputBase-input) {
    color: #333535 !important;
  }
}

:global(body.dark-mode) {
  .container {
    background: #2a2a2a;

    .label {
      color: #e0e0e0;
    }

    :global(.MuiInputBase-input) {
      color: #ffffff !important;
    }

    :global(.MuiInputBase-input) {
      color: #ffffff !important;
    }

    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: #ffffff !important;
    }

    .formHelperText {
      color: #ffb3b3;
    }
  }
}
