.app {
  display: flex;
  flex-direction: column;

  .titleContainer {
    margin-top: 30px;
    margin-bottom: 10px;
    align-self: center;
    flex-direction: column;
    display: flex;

    .appLogo {
      height: 90px;
      width: 90px;
      border-radius: 8px;
      margin-bottom: 20px;
      align-self: center;
    }

    .title {
      width: 85%;
      font-size: 20px;
      color: #6e6d6d;
      font-weight: bold;
      align-self: center;
    }

    .subtitle {
      width: 80%;
      font-size: 16px;
      color: #6e6d6d;
      align-self: center;
    }

  }
}

.errorContainer {
  padding: 10px;
  border: 1px red solid;
  color: red;
  background: #ffe0de;
  border-radius: 8px;
  display: flex;
  flex-direction: row;

  .errorMessage {
    margin-left: 10px;
    align-self: center;
  }
}
