.container {
  padding: 24px 5%;
  min-height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
}

:global(body.dark-mode) {
  .container {
    .header {
      color: #e0e0e0;
    }
  }
}
