@font-face {
  font-family: Lato;
  src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
}

:root {
  --font-sans: 'Lato', serif, -apple-system, BlinkMacSystemFont,
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: #f4f4f4;
  font-family: Lato, serif, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0s;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  height: 100%;
}
